/storage/app/exports
/storage/app/imports
/public/exportaciones
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vscode
.env
.env.backup
.phpunit.result.cache
.editorconfig
.devcontainer
.vscode
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/assets/images/
/public/assets/images
/public/assets/fonts/
/public/assets/fonts
/public/assets/img/
/public/assets/img
/public/assets/logos/
/public/assets/logos

/public/imagenes/
/public/imagenes

/public/exports/
/public/exports



/public/assets/app/logos/
/public/assets/app/logos
/public/assets/app/img/
/public/assets/app/img
/public/assets/app/fonts/
/public/assets/app/fonts

/public/assets/appreact/logos/
/public/assets/appreact/logos
/public/assets/appreact/img/
/public/assets/appreact/img
/public/assets/appreact/fonts/
/public/assets/appreact/fonts
public/files/
